@model Shop.Models.QuantityWarehouse

@{
    ViewBag.Title = "Delete Product from warehouse";
}

<h2>Delete product from the Warehouse?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warehouse.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warehouse.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary btn-large btn-danger" /> 
        </div>
    }
</div>
