@model IEnumerable<Shop.Models.QuantityWarehouse>

@{
    ViewBag.Title = "Stock Warehouse";
}

<h2>Stock Warehouse</h2>

<p>
    @Html.ActionLink("Add Product to the Warehouse", "Create", null, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.Quantity)</b>
        </td>
        <th>
            @Html.DisplayNameFor(model => model.Warehouse.City)
        </th>
        <th>
            Product Name:
        </th>
        <th>
            Options
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Warehouse.City)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
