@model Shop.Models.Category

@{
    ViewBag.Title = "Szczegóły kategorii";
}

<h2>Szczegóły kategorii</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="~/Resources/@Model.Photo" alt="Zdj" height="30%" width="30%" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Produkty:
        </dt>
        <dd>
            <table class="table">
                <ul id="horizontal-list">

                    @foreach (var item in Model.Product)
            {
                        <li>
                                <img src="~/Resources/@item.Photo" alt="Zdjęcie" height="300" width="200" />
                            <br />
                            @Html.DisplayFor(modelItem => item.Producer.Name)
                            @Html.DisplayFor(modelItem => item.Name)<br />
                            @Html.DisplayFor(modelItem => item.Price) zł
                            <a href='@Url.Action( "OrderNow", "Carts", new { id = item.Id }, null)'>
                                <img src='@Url.Content("~/Resources/cart.png")' />
                            </a>
                        </li>
                    }
                </ul>
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Powrót", "Index", null, new { @class = "btn btn-primary btn-large" })
</p>
