@model IEnumerable<Shop.Models.Category>

@{
    ViewBag.Title = "Categories";
}

@using (Html.BeginForm("Index", "Categories", FormMethod.Get))
{
}
@if (Context.User.IsInRole("Admin"))
{
    @Html.ActionLink("Add Category", "Create", null, new { @class = "btn btn-primary btn-large" })
}
<table class="table">
    <tr>
    </tr>
</table>
<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="col-md-5">
                <a href='@Url.Action("Details", new { @id = item.Id })'>
                    <img src="~/Resources/@item.Photo" alt="Zdjęcie" height="200" width="200" />
                </a><br />
                @Html.DisplayFor(modelItem => item.Name)<br />
                @if (Context.User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit      ", "Edit", new { id = item.Id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }

            </div>
        </div>
    }

</div>
