@model Shop.Models.Order

@{
    ViewBag.Title = "Szczegóły zamówienia";
}

<h2>Order Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.FirstName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Address.SecondName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.SecondName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Address.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.PostalCode)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Address.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Street)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Address.HouseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.HouseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Voivodeship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Voivodeship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendOrder)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back", "Index")
</p>
