@model Shop.Models.Product

@{
    ViewBag.Title = "Product Details";
}
<dd>
    <h2> @Html.DisplayFor(model => model.Name)</h2>
</dd>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="~/Resources/@Model.Photo" alt="Zdj" height="400" width="250" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd>
            <a href='@Url.Action( "OrderNow", "Carts", new { id = Model.Id }, null)' class="btn btn-primary btn-large">
                Add to Cart!
            </a>
        </dd>

    </dl>

</div>
